article .article-content .toc-article+h1,
article .article-content .toc-article+h2,
article .article-content .toc-article+h3,
article .article-content .toc-article+h4,
article .article-content .toc-article+h5,
article .article-content .toc-article+h6,
article .article-content h1:first-child,
article .article-content h2:first-child,
article .article-content h3:first-child,
article .article-content h4:first-child,
article .article-content h5:first-child,
article .article-content h6:first-child {
  margin-top:0
}

form.search input {
  border-radius:10px;
}